## Scraping

Scraping / skrepovanje podataka sa weba

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from requests import get

In [2]:
url = 'https://www.worldometers.info/gdp/gdp-by-country/'
request = get(url)

In [3]:
#request.text

## Parser / Analiza i obrada HTML podataka

In [4]:
soup_data = BeautifulSoup (request.text, 'html.parser')

In [5]:
#for td in soup_data.find_all("td"):
    #print(td)
    #print(td.text)

In [6]:
soup_data = BeautifulSoup (request.text, 'html.parser')
country = []
gdp = []
population = []
gdp_per_capita = []
i = 1
for td in soup_data.find_all("td"):
    if i%8 == 2:
        country.append(td.text)
    if i%8 == 3:
        gdp.append(td.text)
    if i%8 == 6:
        population.append(td.text)
    if i%8 == 7:
        gdp_per_capita.append(td.text)    
    i+= 1    
#country    
#gdp_per_capita    
#population

## Data frame

In [7]:
country_table = pd.DataFrame( data = {'country': country, 'gdp': gdp, 'population': population, 'gdp_per_capita': gdp_per_capita})

In [8]:
country_table.head()

         country                  gdp     population gdp_per_capita
0  United States  $25,462,700,000,000    341,534,046        $74,554
1          China  $17,963,200,000,000  1,425,179,569        $12,604
2          Japan   $4,231,140,000,000    124,997,578        $33,850
3        Germany   $4,072,190,000,000     84,086,227        $48,429
4          India   $3,385,090,000,000  1,425,423,212         $2,375

In [9]:
country_table.shape

(177, 4)

## Spajanje tabela

In [10]:
medals = pd.read_csv ('medals.csv')
medals.head()

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
0,Gold Medal,1.0,2024-07-27,Remco EVENEPOEL,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903136,BEL,Belgium,Belgium
1,Silver Medal,2.0,2024-07-27,Filippo GANNA,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1923520,ITA,Italy,Italy
2,Bronze Medal,3.0,2024-07-27,Wout van AERT,M,Cycling Road,Men's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/men-s-indi...,1903147,BEL,Belgium,Belgium
3,Gold Medal,1.0,2024-07-27,Grace BROWN,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1940173,AUS,Australia,Australia
4,Silver Medal,2.0,2024-07-27,Anna HENDERSON,W,Cycling Road,Women's Individual Time Trial,ATH,/en/paris-2024/results/cycling-road/women-s-in...,1912525,GBR,Great Britain,Great Britain

In [11]:
medals.columns

Index(['medal_type', 'medal_code', 'medal_date', 'name', 'gender',
       'discipline', 'event', 'event_type', 'url_event', 'code',
       'country_code', 'country', 'country_long'],
      dtype='object')

## Duplikati i nedostajuci podaci

In [12]:
medals.isna().sum()

medal_type      0
medal_code      1
medal_date      0
name            0
gender          0
discipline      0
event           0
event_type      0
url_event       9
code            0
country_code    0
country         0
country_long    0
dtype: int64

In [13]:
medals[medals['medal_code'].isnull()]

,medal_type,medal_code,medal_date,name,gender,discipline,event,event_type,url_event,code,country_code,country,country_long
469,Bronze Medal,NaN,2024-08-04,Gregoria Mariska TUNJUNG,W,Badminton,Women's Singles,HATH,/en/paris-2024/results/badminton/women-s-singl...,1926315,INA,Indonesia,Indonesia

In [14]:
medals['medal_code'] = medals['medal_code'].fillna(3)

In [15]:
medals.isna().sum()

medal_type      0
medal_code      0
medal_date      0
name            0
gender          0
discipline      0
event           0
event_type      0
url_event       9
code            0
country_code    0
country         0
country_long    0
dtype: int64

In [16]:
medals[medals.duplicated(keep = False)]

Empty DataFrame
Columns: [medal_type, medal_code, medal_date, name, gender, discipline, event, event_type, url_event, code, country_code, country, country_long]
Index: []

## Priblizne vrednosti

In [17]:
medals['medal_type'].value_counts()

medal_type
Bronze Medal    385
Silver Medal    330
Gold Medal      329
Name: count, dtype: int64

## Grupisanje podataka

In [18]:
groups = medals.groupby(['discipline', 'event', 'medal_type']).size().reset_index(name = 'group_size')

In [19]:
groups[groups['group_size']>1]

              discipline                      event    medal_type  group_size
27   Artistic Gymnastics       Men's Horizontal Bar  Bronze Medal           2
192            Athletics          Women's High Jump  Bronze Medal           2
240               Boxing                Men's +92kg  Bronze Medal           2
243               Boxing                 Men's 51kg  Bronze Medal           2
246               Boxing                 Men's 57kg  Bronze Medal           2
249               Boxing               Men's 63.5kg  Bronze Medal           2
252               Boxing                 Men's 71kg  Bronze Medal           2
255               Boxing                 Men's 80kg  Bronze Medal           2
258               Boxing                 Men's 92kg  Bronze Medal           2
261               Boxing               Women's 50kg  Bronze Medal           2
264               Boxing               Women's 54kg  Bronze Medal           2
267               Boxing               Women's 57kg  Bronze Medal           2
270               Boxing               Women's 60kg  Bronze Medal           2
273               Boxing               Women's 66kg  Bronze Medal           2
276               Boxing               Women's 75kg  Bronze Medal           2
324         Canoe Sprint  Women's Kayak Double 500m  Bronze Medal           2
501                 Judo                Men +100 kg  Bronze Medal           2
504                 Judo                Men -100 kg  Bronze Medal           2
507                 Judo                 Men -60 kg  Bronze Medal           2
510                 Judo                 Men -66 kg  Bronze Medal           2
513                 Judo                 Men -73 kg  Bronze Medal           2
516                 Judo                 Men -81 kg  Bronze Medal           2
519                 Judo                 Men -90 kg  Bronze Medal           2
522                 Judo                 Mixed Team  Bronze Medal           2
525                 Judo               Women +78 kg  Bronze Medal           2
528                 Judo               Women -48 kg  Bronze Medal           2
531                 Judo               Women -52 kg  Bronze Medal           2
534                 Judo               Women -57 kg  Bronze Medal           2
537                 Judo               Women -63 kg  Bronze Medal           2
540                 Judo               Women -70 kg  Bronze Medal           2
543                 Judo               Women -78 kg  Bronze Medal           2
721             Swimming    Men's 100m Breaststroke  Silver Medal           2
836            Taekwondo                  Men +80kg  Bronze Medal           2
839            Taekwondo                  Men -58kg  Bronze Medal           2
842            Taekwondo                  Men -68kg  Bronze Medal           2
845            Taekwondo                  Men -80kg  Bronze Medal           2
848            Taekwondo                Women +67kg  Bronze Medal           2
851            Taekwondo                Women -49kg  Bronze Medal           2
854            Taekwondo                Women -57kg  Bronze Medal           2
857            Taekwondo                Women -67kg  Bronze Medal           2
932            Wrestling      Men's Freestyle 125kg  Bronze Medal           2
935            Wrestling       Men's Freestyle 57kg  Bronze Medal           2
938            Wrestling       Men's Freestyle 65kg  Bronze Medal           2
941            Wrestling       Men's Freestyle 74kg  Bronze Medal           2
944            Wrestling       Men's Freestyle 86kg  Bronze Medal           2
947            Wrestling       Men's Freestyle 97kg  Bronze Medal           2
950            Wrestling    Men's Greco-Roman 130kg  Bronze Medal           2
953            Wrestling     Men's Greco-Roman 60kg  Bronze Medal           2
956            Wrestling     Men's Greco-Roman 67kg  Bronze Medal           2
959            Wrestling     Men's Greco-Roman 77kg  Bronze Medal           2
962            Wrestling     Men's Greco-Roman 87kg  Bronze Medal           2
965            Wrestling     Men's Greco-Roman 97kg  Bronze Medal           2
968            Wrestling     Women's Freestyle 50kg  Bronze Medal           2
971            Wrestling     Women's Freestyle 53kg  Bronze Medal           2
974            Wrestling     Women's Freestyle 57kg  Bronze Medal           2
977            Wrestling     Women's Freestyle 62kg  Bronze Medal           2
980            Wrestling     Women's Freestyle 68kg  Bronze Medal           2
983            Wrestling     Women's Freestyle 76kg  Bronze Medal           2

## Prilagodjavanje tabela

In [20]:
medals['country'].unique().size

92

In [21]:
medals['country'].unique()

array(['Belgium', 'Italy', 'Australia', 'Great Britain', 'United States',
       'China', 'Korea', 'Tunisia', 'Hong Kong, China', 'France',
       'Hungary', 'Kazakhstan', 'Japan', 'Spain', 'Mongolia', 'Sweden',
       'Fiji', 'South Africa', 'Germany', 'Canada', 'Mexico', 'Poland',
       'Egypt', 'Brazil', 'Republic of Moldova', 'Uzbekistan', 'Kosovo',
       'India', 'Türkiye', 'Slovakia', 'Ukraine', 'Azerbaijan', 'Croatia',
       'Switzerland', 'Romania', 'Ireland', 'Georgia', 'Tajikistan',
       'Slovenia', 'New Zealand', 'Serbia', 'Guatemala', 'DPR Korea',
       'Argentina', 'Greece', 'Austria', 'Netherlands', 'Ecuador',
       'Israel', 'Portugal', 'Uganda', 'Ethiopia', 'Czechia', 'AIN',
       'Philippines', 'Norway', 'Grenada', 'Jamaica', 'Saint Lucia',
       'Dominica', 'Chinese Taipei', 'Denmark', 'Lithuania', 'Armenia',
       'Algeria', 'Malaysia', 'Indonesia', 'Dominican Republic',
       'Cabo Verde', 'Cuba', 'Chile', 'Colombia', 'Kenya', 'Thailand',
       'Bahrain', 'IR Iran', 'Kyrgyzstan', 'Morocco', 'Zambia', 'Cyprus',
       'Peru', 'Botswana', 'Pakistan', 'Bulgaria', 'EOR', 'Jordan',
       'Singapore', 'Qatar', 'Puerto Rico', 'Panama', "Côte d'Ivoire",
       'Albania'], dtype=object)

In [22]:
country_table['country'].unique()

array(['United States', 'China', 'Japan', 'Germany', 'India',
       'United Kingdom', 'France', 'Russia', 'Canada', 'Italy', 'Brazil',
       'Australia', 'South Korea', 'Mexico', 'Spain', 'Indonesia',
       'Saudi Arabia', 'Netherlands', 'Turkey', 'Switzerland', 'Poland',
       'Argentina', 'Sweden', 'Norway', 'Belgium', 'Ireland', 'Israel',
       'United Arab Emirates', 'Thailand', 'Nigeria', 'Egypt', 'Austria',
       'Singapore', 'Bangladesh', 'Vietnam', 'Malaysia', 'South Africa',
       'Philippines', 'Denmark', 'Iran', 'Pakistan', 'Hong Kong',
       'Colombia', 'Romania', 'Chile', 'Czech Republic (Czechia)',
       'Finland', 'Iraq', 'Portugal', 'New Zealand', 'Peru', 'Qatar',
       'Kazakhstan', 'Greece', 'Algeria', 'Kuwait', 'Hungary', 'Ukraine',
       'Morocco', 'Ethiopia', 'Slovakia', 'Ecuador', 'Oman',
       'Dominican Republic', 'Kenya', 'Angola', 'Guatemala', 'Bulgaria',
       'Luxembourg', 'Uzbekistan', 'Azerbaijan', 'Panama', 'Tanzania',
       'Sri Lanka', 'Ghana', 'Belarus', 'Uruguay', 'Croatia', 'Lithuania',
       "Côte d'Ivoire", 'Costa Rica', 'Serbia', 'Slovenia', 'Myanmar',
       'DR Congo', 'Sudan', 'Jordan', 'Tunisia', 'Libya', 'Uganda',
       'Bahrain', 'Cameroon', 'Bolivia', 'Paraguay', 'Latvia', 'Nepal',
       'Estonia', 'El Salvador', 'Honduras', 'Papua New Guinea',
       'Cambodia', 'Zambia', 'Cyprus', 'Trinidad and Tobago', 'Iceland',
       'Senegal', 'Georgia', 'Bosnia and Herzegovina', 'Macao', 'Guinea',
       'Gabon', 'Zimbabwe', 'Botswana', 'Haiti', 'Armenia',
       'State of Palestine', 'Burkina Faso', 'Albania', 'Mali',
       'Mozambique', 'Malta', 'Benin', 'Jamaica', 'Mongolia', 'Brunei ',
       'Laos', 'Nicaragua', 'Guyana', 'Madagascar', 'Congo', 'Moldova',
       'Niger', 'North Macedonia', 'Rwanda', 'Malawi', 'Mauritius',
       'Bahamas', 'Chad', 'Namibia', 'Equatorial Guinea', 'Kyrgyzstan',
       'Tajikistan', 'Mauritania', 'Togo', 'Maldives', 'Montenegro',
       'Barbados', 'Fiji', 'Eswatini', 'Liberia', 'Sierra Leone',
       'Suriname', 'Andorra', 'Timor-Leste', 'Burundi', 'Belize',
       'Lesotho', 'Central African Republic', 'Cabo Verde', 'Gambia',
       'Saint Lucia', 'Antigua and Barbuda', 'Guinea-Bissau',
       'Solomon Islands', 'Seychelles', 'Grenada', 'Comoros', 'Vanuatu',
       'Saint Kitts & Nevis', 'St. Vincent & Grenadines', 'Samoa',
       'Dominica', 'Sao Tome & Principe', 'Micronesia',
       'Marshall Islands', 'Kiribati', 'Tuvalu'], dtype=object)

In [23]:
country_table['country'].unique().size

177

In [24]:
for cnt in medals['country'].unique():
    if cnt not in country_table['country'].unique():
        print(cnt)

Great Britain
Korea
Hong Kong, China
Republic of Moldova
Kosovo
Türkiye
DPR Korea
Czechia
AIN
Chinese Taipei
Cuba
IR Iran
EOR
Puerto Rico

In [25]:
replace_values = {'Great Britain': 'United Kingdom', 'Korea': 'South Korea', 'Republic of Moldova': 'Moldova', 'DPR Korea': 'North Korea', 'IR Iran': 'Iran', 'Türkiye': 'Turkey'}
medals = medals.replace({'country':replace_values})
country_table['country'] = country_table['country'].replace('Czech Republic (Czechia)', 'Czechia')

In [26]:
country_table.loc[len(country_table.index)] = ['Cuba', '$107,352,000,000', '11,176,354', '$7,252']

In [27]:
for cnt in medals['country'].unique():
    if cnt not in country_table['country'].unique():
        print(cnt)

Hong Kong, China
Kosovo
North Korea
AIN
Chinese Taipei
EOR
Puerto Rico

In [28]:
to_delete = []
for cnt in medals['country'].unique():
    if cnt not in country_table['country'].unique():
        to_delete.append(cnt)

In [29]:
#medals[medals.country.isin(to_delete)]

In [30]:
medals = [~ medals.country.isin(to_delete)]

## Replace

In [31]:
country_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 178 entries, 0 to 177
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         178 non-null    object
 1   gdp             178 non-null    object
 2   population      178 non-null    object
 3   gdp_per_capita  178 non-null    object
dtypes: object(4)
memory usage: 7.0+ KB

In [32]:
country_table.gdp = country_table.gdp.str.replace('$', ' ')
country_table.gdp = country_table.gdp.str.replace(',', ' ')

In [33]:
country_table.gdp_per_capita = country_table.gdp_per_capita.str.replace('$', ' ')
country_table.gdp_per_capita = country_table.gdp_per_capita.str.replace(',', ' ')

In [34]:
country_table.population = country_table.population.str.replace(',', ' ')

In [35]:
#country_table.gdp = country_table.gdp.astype(float)
#country_table.gdp_per_capita  = country_table.gdp_per_capita.astype(float)
#country_table.population = country_table.population.astype(float)

In [36]:
country_table.head()

         country                  gdp     population gdp_per_capita
0  United States   25 462 700 000 000    341 534 046         74 554
1          China   17 963 200 000 000  1 425 179 569         12 604
2          Japan    4 231 140 000 000    124 997 578         33 850
3        Germany    4 072 190 000 000     84 086 227         48 429
4          India    3 385 090 000 000  1 425 423 212          2 375

In [37]:
#country_table.to_csv('country_for_analysis.csv')

In [38]:
#medals.to_csv('medals_for_analysis.csv')