# Pandas ciscenje podataka

Duplikati i praznine

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies_new.csv')

# Rad sa duplikatima

In [3]:
movies['name'].duplicated (keep = False)

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997     True
9998     True
Name: name, Length: 9999, dtype: bool

In [4]:
movies[movies['name'].duplicated (keep = False)].sort_values('name')

,name,year,genre,rating,summary,stars,votes,runtime,gross
8134,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",6.2,"In the wake of the lockdown, the school is on ...",Director: Sunu Gonera | Stars: Dylan Minn...,"1,619",57.0,NaN
8197,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",6.6,"The school goes into lockdown and Clay, Tony a...",Director: Brenda Strong | Stars: Dylan Mi...,"1,694",61.0,NaN
8376,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",5.9,Clay's mental health continues to decline as t...,Director: Sunu Gonera | Stars: Dylan Minn...,"1,420",60.0,NaN
7789,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",5.1,Clay is forced to confront his anxiety on the ...,Director: Michael Sucsy | Stars: Dylan Mi...,"1,714",59.0,NaN
7378,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",5.7,"The police question Tyler about the guns, leav...",Director: Russell Mulcahy | Stars: Dylan ...,"1,798",59.0,NaN
...,...,...,...,...,...,...,...,...,...
3772,Verónica,(II) (2017),"Drama, Mystery, Thriller",5.9,A female Psychologist who has stopped practici...,"Directors: Carlos Algara, Alejandro Martinez-...","1,342",81.0,NaN
5460,Wanderlust,(2006 TV Movie),"Documentary, History",6.6,A documentary on road movies and their effect ...,"Directors: Shari Springer Berman, Robert Pulc...",122,84.0,NaN
1322,Wanderlust,(2018– ),Drama,7.1,A therapist tries to save her marriage after a...,"Stars: Toni Collette, Steven Mackintosh, Joe...","4,825",60.0,NaN
5449,Wednesday,(I),NaN,NaN,"Follows Wednesday Addams' years as a student, ...",NaN,NaN,NaN,NaN
1527,Wednesday,(II),"Comedy, Family, Fantasy",NaN,A modernized live-action version of 'The Addam...,Star: Jenna Ortega,NaN,NaN,NaN

In [5]:
columns = ['name', 'year', 'rating', 'summary']

In [6]:
movies[movies[columns].duplicated (keep = False)].sort_values('name')

,name,year,genre,rating,summary,stars,votes,runtime,gross
9443,1899,(2022– ),"Drama, History, Horror",NaN,Add a Plot,Director: Baran bo Odar | Stars: Aneurin ...,NaN,NaN,NaN
9980,1899,(2022– ),"Drama, History, Horror",NaN,Add a Plot,Director: Baran bo Odar,NaN,NaN,NaN
9981,1899,(2022– ),"Drama, History, Horror",NaN,Add a Plot,Director: Baran bo Odar,NaN,NaN,NaN
9982,1899,(2022– ),"Drama, History, Horror",NaN,Add a Plot,Director: Baran bo Odar,NaN,NaN,NaN
9989,1899,(2022– ),"Drama, History, Horror",NaN,Add a Plot,Director: Baran bo Odar,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9977,Élite,(2018– ),"Crime, Drama, Thriller",NaN,Add a Plot,"Stars: Georgina Amorós, Carla Díaz, Martina ...",NaN,NaN,NaN
9948,Élite,(2018– ),"Crime, Drama, Thriller",NaN,Add a Plot,"Stars: Georgina Amorós, Carla Díaz, Martina ...",NaN,NaN,NaN
8373,Élite,(2018– ),"Crime, Drama, Thriller",NaN,Add a Plot,"Stars: Claudia Salas, Georgina Amorós, Carla...",NaN,NaN,NaN
9936,Élite,(2018– ),"Crime, Drama, Thriller",NaN,Add a Plot,"Stars: Itzan Escamilla, Omar Ayuso, Claudia ...",NaN,NaN,NaN
9949,Élite,(2018– ),"Crime, Drama, Thriller",NaN,Add a Plot,"Stars: Georgina Amorós, Carla Díaz, Martina ...",NaN,NaN,NaN

In [7]:
movies[movies[columns].duplicated (keep = 'first')].shape

(703, 9)

In [8]:
movies.shape

(9999, 9)

In [9]:
drop_all_duplicated_movies = movies.drop_duplicates()

In [10]:
drop_all_duplicated_movies.shape

(9568, 9)

In [11]:
no_real_duplicates = movies.drop_duplicates(columns, keep = 'first')

In [12]:
no_real_duplicates.shape

(9296, 9)

# Nedostajuci podaci

In [13]:
movies = no_real_duplicates

In [14]:
movies.head()

,name,year,genre,rating,summary,stars,votes,runtime,gross
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director: Peter Thorwarth | Stars: Peri B...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars: Chris Wood, Sarah Michelle Gellar, Le...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars: Andrew Lincoln, Norman Reedus, Meliss...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars: Justin Roiland, Chris Parnell, Spence...","414,849",23.0,NaN
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director: Matthias Schweighöfer | Stars: ...,NaN,NaN,NaN

In [15]:
movies['year'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
9976    False
9979    False
9993    False
9995    False
9996    False
Name: year, Length: 9296, dtype: bool

In [16]:
movies[movies['year'].isna()]

,name,year,genre,rating,summary,stars,votes,runtime,gross
878,Vikings: Valhalla,NaN,"Action, Adventure, Drama",NaN,Follow-up series to 'Vikings' set 100 years af...,"Stars: Laura Berlin, Sam Corlett, Bradley Fr...",NaN,NaN,NaN
1375,Resident Evil,NaN,"Action, Horror, Sci-Fi",NaN,Nearly three decades after the discovery of th...,"Stars: Lance Reddick, Siena Agudong, Ella Ba...",NaN,NaN,NaN
1414,Bright 2,NaN,"Action, Adventure, Crime",NaN,Plot unknown. Sequel to the 2017 film 'Bright.',"Stars: Will Smith, Joel Edgerton",NaN,NaN,NaN
1419,Avatar: The Last Airbender,NaN,"Action, Adventure, Fantasy",NaN,Live-action adaptation of the animated series ...,NaN,NaN,NaN,NaN
1425,Home Team,NaN,"Comedy, Sport",NaN,The story about New Orleans Saints head coach ...,"Directors: Charles Francis Kinnane, Daniel Ki...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9659,Yeh Kaali Kaali Ankhein,NaN,"Action, Drama, Romance",NaN,Add a Plot,"Directors: Rohit Jugraj, Siddharth Sengupta |...",NaN,NaN,NaN
9736,From Scratch,NaN,Drama,NaN,Add a Plot,Director: Nzingha Stewart | Stars: Antoni...,NaN,NaN,NaN
9781,Inside Man,NaN,"Drama, Mystery, Thriller",NaN,Add a Plot,Director: Paul McGuigan | Stars: July Nam...,NaN,NaN,NaN
9836,Kus uçusu,NaN,Comedy,NaN,Add a Plot,Director: Deniz Yorulmazer | Stars: Birce...,NaN,NaN,NaN
9904,Pretty Smart,NaN,Comedy,NaN,Add a Plot,Director: Pamela Fryman | Stars: Cinthya ...,NaN,NaN,NaN

In [17]:
movies.isna().sum()

name          0
year        482
genre        78
rating     1197
summary       0
stars       381
votes      1197
runtime    2313
gross      8836
dtype: int64

## Brisanje nedostajucih podataka

In [18]:
movies = movies.drop('gross', axis = 1)

In [19]:
movies.head()

,name,year,genre,rating,summary,stars,votes,runtime
0,Blood Red Sky,(2021),"Action, Horror, Thriller",6.1,A woman with a mysterious illness is forced in...,Director: Peter Thorwarth | Stars: Peri B...,"21,062",121.0
1,Masters of the Universe: Revelation,(2021– ),"Animation, Action, Adventure",5.0,The war for Eternia begins again in what may b...,"Stars: Chris Wood, Sarah Michelle Gellar, Le...","17,870",25.0
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,Sheriff Deputy Rick Grimes wakes up from a com...,"Stars: Andrew Lincoln, Norman Reedus, Meliss...","885,805",44.0
3,Rick and Morty,(2013– ),"Animation, Adventure, Comedy",9.2,An animated series that follows the exploits o...,"Stars: Justin Roiland, Chris Parnell, Spence...","414,849",23.0
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director: Matthias Schweighöfer | Stars: ...,NaN,NaN

In [20]:
drop_all_na = movies.copy()

In [21]:
drop_all_na = drop_all_na.dropna()

In [22]:
drop_all_na.shape

(6727, 8)

In [23]:
movies = movies.dropna(subset = ['year', 'genre', 'stars'])

In [24]:
movies.shape

(8596, 8)

In [25]:
movies.isna().sum()

name          0
year          0
genre         0
rating      591
summary       0
stars         0
votes       591
runtime    1691
dtype: int64

Numericki podaci

In [26]:
movies[movies['rating'].isna()]

,name,year,genre,rating,summary,stars,votes,runtime
4,Army of Thieves,(2021),"Action, Crime, Horror",NaN,"A prequel, set before the events of Army of th...",Director: Matthias Schweighöfer | Stars: ...,NaN,NaN
214,Sing 2,(2021),"Animation, Adventure, Comedy",NaN,Buster Moon and his friends must persuade recl...,Director: Garth Jennings | Stars: Matthew...,NaN,NaN
217,Knives Out 2,(2022),"Comedy, Crime, Drama",NaN,Plot unknown. Sequel to the 2019 film 'Knives ...,Director: Rian Johnson | Stars: Madelyn C...,NaN,NaN
222,Don't Look Up,(2021),Comedy,NaN,"The story of two low-level astronomers, who mu...",Director: Adam McKay | Stars: Timothée Ch...,NaN,145.0
236,Red Notice,(2021),"Action, Comedy, Crime",NaN,An Interpol agent tracks the world's most want...,Director: Rawson Marshall Thurber | Stars...,NaN,NaN
...,...,...,...,...,...,...,...,...
9964,AlRawabi School for Girls,(2021),Drama,NaN,Add a Plot,Director: Tima Shomali | Stars: Salsabiel...,NaN,NaN
9975,Ultraman,(2019– ),"Animation, Action, Adventure",NaN,Add a Plot,"Stars: Ryohei Kimura, Josh Hutcherson",NaN,NaN
9976,The Talk,(2010– ),Talk-Show,NaN,"Actor Brian Tyree Henry (""Godzilla vs. Kong"", ...","Stars: Sheryl Underwood, Carrie Ann Inaba, A...",NaN,38.0
9993,Totenfrau,(2022– ),"Drama, Thriller",NaN,Add a Plot,Director: Nicolai Rohde | Stars: Felix Kl...,NaN,NaN
9996,Heart of Invictus,(2022– ),"Documentary, Sport",NaN,Add a Plot,Director: Orlando von Einsiedel | Star: P...,NaN,NaN

In [27]:
movies.iloc[4]

name                                         Army of Thieves
year                                                  (2021)
genre                      Action, Crime, Horror
rating                                                   NaN
summary    A prequel, set before the events of Army of th...
stars      Director: Matthias Schweighöfer |      Stars: ...
votes                                                    NaN
runtime                                                  NaN
Name: 4, dtype: object

In [28]:
mean_of_rating = movies['rating'].mean()

In [29]:
mean_of_rating

np.float64(6.916564647095565)

In [30]:
mean_of_rating =  round(movies['rating'].mean(), 1)

In [31]:
mean_of_rating

np.float64(6.9)

In [32]:
movies['rating'] = movies['rating'] . fillna(mean_of_rating)

In [33]:
movies.iloc[4]

name                                         Army of Thieves
year                                                  (2021)
genre                      Action, Crime, Horror
rating                                                   6.9
summary    A prequel, set before the events of Army of th...
stars      Director: Matthias Schweighöfer |      Stars: ...
votes                                                    NaN
runtime                                                  NaN
Name: 4, dtype: object

In [34]:
movies.isna().sum()

name          0
year          0
genre         0
rating        0
summary       0
stars         0
votes       591
runtime    1691
dtype: int64

In [35]:
movies['votes'] = movies['votes'] . fillna(0)

In [36]:
movies.iloc[4]

name                                         Army of Thieves
year                                                  (2021)
genre                      Action, Crime, Horror
rating                                                   6.9
summary    A prequel, set before the events of Army of th...
stars      Director: Matthias Schweighöfer |      Stars: ...
votes                                                      0
runtime                                                  NaN
Name: 4, dtype: object

In [37]:
mean_of_runtime = movies['runtime'].mean()

In [38]:
mean_of_runtime

np.float64(69.31846488052136)

In [39]:
mean_of_runtime = round(movies['runtime'].mean(),0)

In [40]:
movies['runtime'] = movies['runtime'] . fillna(mean_of_runtime)

In [41]:
movies.iloc[4]

name                                         Army of Thieves
year                                                  (2021)
genre                      Action, Crime, Horror
rating                                                   6.9
summary    A prequel, set before the events of Army of th...
stars      Director: Matthias Schweighöfer |      Stars: ...
votes                                                      0
runtime                                                 69.0
Name: 4, dtype: object

In [42]:
movies.isna().sum()

name       0
year       0
genre      0
rating     0
summary    0
stars      0
votes      0
runtime    0
dtype: int64

Kategoricki podaci

In [43]:
airbnb = pd.read_csv('new_airbnb.csv')

In [44]:
airbnb.head()

,id,name,summary,description,host_name,host_is_superhost,street,neighbourhood,city,state,...,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,cancellation_policy
0,12147973,Sunny Bungalow in the City of Boston,"Cozy, sunny, family home. Master bedroom high...","Cozy, sunny, family home. Master bedroom high...",Virginia,f,"Birch Street, Boston, MA 02131, United States",Roslindale,Boston,MA,...,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",250.0,1,$0.00,2,1125,0,NaN,moderate
1,3075044,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Charming and quiet room in a second floor 1910...,Andrea,f,"Pinehurst Street, Boston, MA 02131, United States",Roslindale,Boston,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",65.0,0,$0.00,2,15,36,94.0,moderate
2,6976,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",Phil,t,"Ardale St., Boston, MA 02131, United States",Roslindale,Boston,MA,...,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",65.0,1,$20.00,3,45,41,98.0,moderate
3,1436513,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Come experience the comforts of home away from...,Meghna,f,"Boston, MA, United States",NaN,Boston,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",75.0,2,$25.00,1,1125,1,100.0,moderate
4,7651065,Come Home to Boston,"My comfy, clean and relaxing home is one block...","My comfy, clean and relaxing home is one block...",Linda,t,"Durnell Avenue, Boston, MA 02131, United States",Roslindale,Boston,MA,...,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",79.0,1,$0.00,2,31,29,99.0,flexible

In [45]:
airbnb[airbnb[['name', 'longitude', 'latitude']].duplicated(keep = False)]

Empty DataFrame
Columns: [id, name, summary, description, host_name, host_is_superhost, street, neighbourhood, city, state, zipcode, market, smart_location, country_code, country, latitude, longitude, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, price, guests_included, extra_people, minimum_nights, maximum_nights, number_of_reviews, review_scores_rating, cancellation_policy]
Index: []

[0 rows x 33 columns]

In [46]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             3
room_type                 0
accommodates              0
bathrooms                14
bedrooms                 10
beds                      9
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating    813
cancellation_policy       0
dtype: int64

In [47]:
airbnb.property_type.value_counts()

property_type
Apartment          2612
House               562
Condominium         231
Townhouse            54
Bed & Breakfast      41
Loft                 39
Other                17
Boat                 12
Villa                 6
Entire Floor          4
Dorm                  2
Guesthouse            1
Camper/RV             1
Name: count, dtype: int64

In [48]:
airbnb['property_type'].mode()[0]

'Apartment'

In [49]:
mode_of_property_type = airbnb['property_type'].mode()[0]

In [50]:
mode_of_property_type

'Apartment'

In [51]:
airbnb['property_type'] = airbnb['property_type'] . fillna('mode_of_property_type')

In [52]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                14
bedrooms                 10
beds                      9
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating    813
cancellation_policy       0
dtype: int64

In [53]:
mean_of_review = round(airbnb['review_scores_rating'].mean(),0)

In [54]:
airbnb['review_scores_rating'] = airbnb['review_scores_rating'] . fillna(mean_of_review)

In [55]:
airbnb['review_scores_rating'] .head()

0     92.0
1     94.0
2     98.0
3    100.0
4     99.0
Name: review_scores_rating, dtype: float64

In [56]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                14
bedrooms                 10
beds                      9
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [57]:
airbnb['bathrooms'] = airbnb['bathrooms'] .fillna(1)

In [58]:
beds_na = airbnb[airbnb['beds'].isna()]

In [59]:
beds_na.accommodates

494     1
755     2
820     2
825     2
910     1
2203    1
2819    2
2865    2
3557    2
Name: accommodates, dtype: int64

In [60]:
for index, row in airbnb[airbnb['beds'].isna()] . iterrows() :
    if row['accommodates'] == 1:
        row['beds'] = 1
    else:
        row['beds'] = 2

In [61]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bedrooms                 10
beds                      9
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [62]:
for index, row in airbnb[airbnb['beds'].isna()].iterrows():
    if row['accommodates'] == 1:
        airbnb.at[index, 'beds'] = 1
    else:
        airbnb.at[index, 'beds'] = 2

In [63]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bedrooms                 10
beds                      0
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [64]:
for index, row in airbnb[airbnb['bedrooms'].isna()].iterrows():
    
        print(airbnb.at[index, 'name'])

Studio Apt. for Rent in South End,
[1294] Grand Studio - South End
[1294-S]Grand Studio - South End
[1358-S1]Small Studio in South End
[1358-S]Small Studio In South End
[1358] Small Studio in South End
[1273] Fab Studio- close to Newbury
[1273-1]Fab Studio Close to Newbury
[1273-S]Fab Studio close to Newbury
Newly upgrade Beacon Hill Studio

In [65]:
for index, row in airbnb[airbnb['bedrooms'].isna()].iterrows():
    if row['beds'] == 1:
        airbnb.at[index, 'bedrooms'] = 0
    if row['beds'] == 2:
        airbnb.at[index, 'bedrooms'] = 1    
    else:
        airbnb.at[index, 'bedrooms'] = 2

In [66]:
airbnb.isna().sum()

id                        0
name                      0
summary                 143
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bedrooms                  0
beds                      0
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [67]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3585 non-null   int64
 1   name                  3585 non-null   object
 2   summary               3442 non-null   object
 3   description           3585 non-null   object
 4   host_name             3585 non-null   object
 5   host_is_superhost     3585 non-null   object
 6   street                3585 non-null   object
 7   neighbourhood         3042 non-null   object
 8   city                  3583 non-null   object
 9   state                 3585 non-null   object
 10  zipcode               3547 non-null   object
 11  market                3571 non-null   object
 12  smart_location        3585 non-null   object
 13  country_code          3585 non-null   object
 14  country               3585 non-null   object
 15  latitude              3585 non-null   float64
 16  longitude             3585 non-null   float64
 17  property_type         3585 non-null   object
 18  room_type             3585 non-null   object
 19  accommodates          3585 non-null   int64
 20  bathrooms             3585 non-null   float64
 21  bedrooms              3585 non-null   float64
 22  beds                  3585 non-null   float64
 23  bed_type              3585 non-null   object
 24  amenities             3585 non-null   object
 25  price                 3585 non-null   float64
 26  guests_included       3585 non-null   int64
 27  extra_people          3585 non-null   object
 28  minimum_nights        3585 non-null   int64
 29  maximum_nights        3585 non-null   int64
 30  number_of_reviews     3585 non-null   int64
 31  review_scores_rating  3585 non-null   float64
 32  cancellation_policy   3585 non-null   object
dtypes: float64(7), int64(6), object(20)
memory usage: 924.4+ KB

In [73]:
for index, row in airbnb[airbnb['summary'].isna()].iterrows() :
     summary = row['room_type'] + ' with ' + str(row['beds']) + 'beds in' + str(row['state'])
     airbnb.at[index, 'summary'] = summary

In [74]:
airbnb.isna().sum()

id                        0
name                      0
summary                   0
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
city                      2
state                     0
zipcode                  38
market                   14
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bedrooms                  0
beds                      0
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [75]:
airbnb.market.value_counts()

market
Boston                   3568
San Francisco               1
Other (Domestic)            1
Other (International)       1
Name: count, dtype: int64

In [76]:
airbnb = airbnb.drop(columns = ['market', 'city'], axis = 1)

In [77]:
airbnb.isna().sum()

id                        0
name                      0
summary                   0
description               0
host_name                 0
host_is_superhost         0
street                    0
neighbourhood           543
state                     0
zipcode                  38
smart_location            0
country_code              0
country                   0
latitude                  0
longitude                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bedrooms                  0
beds                      0
bed_type                  0
amenities                 0
price                     0
guests_included           0
extra_people              0
minimum_nights            0
maximum_nights            0
number_of_reviews         0
review_scores_rating      0
cancellation_policy       0
dtype: int64

In [78]:
pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1
Note: you may need to restart the kernel to use updated packages.

In [79]:
airbnb[['longitude', 'latitude']].head()

   longitude   latitude
0 -71.133068  42.282619
1 -71.134374  42.286241
2 -71.135765  42.292438
3 -71.121021  42.281106
4 -71.136258  42.284512

In [83]:
from geopy.geocoders import Nominatim

# Initialize Nominatim API with a more descriptive user agent
geolocator = Nominatim(user_agent="my_first_project")

# Latitude & Longitude input
Latitude = "42.282619"
Longitude = "-71.133068"

location = geolocator.reverse(Latitude + "," + Longitude)
address = location.raw['address']
    
print(address)

{'house_number': '200', 'road': 'Durnell Avenue', 'neighbourhood': 'Bellevue', 'suburb': 'Roslindale', 'city': 'Boston', 'county': 'Suffolk County', 'state': 'Massachusetts', 'ISO3166-2-lvl4': 'US-MA', 'postcode': '02131', 'country': 'United States', 'country_code': 'us'}

In [ ]:
# Traverse the data
    city = address.get('city', '')
    state = address.get('state', '')
    country = address.get('country', '')
    code = address.get('country_code')
    zipcode = address.get('postcode')

    print('City : ', city)
    print('State : ', state)
    print('Country : ', country)
    print('Zip Code : ', zipcode)

In [84]:
def lokacija(latitude, longitude) :
    from geopy.geocoders import Nominatim
    geolocator = Nominatim(user_agent="my_first_project")
    location = geolocator.reverse(latitude + "," + longitude)
    address = location.raw['address']
    return address.get('suburb')

In [85]:
airbnb.iloc[3]

id                                                                1436513
name                        Spacious Sunny Bedroom Suite in Historic Home
summary                 Come experience the comforts of home away from...
description             Come experience the comforts of home away from...
host_name                                                          Meghna
host_is_superhost                                                       f
street                                          Boston, MA, United States
neighbourhood                                                         NaN
state                                                                  MA
zipcode                                                               NaN
smart_location                                                 Boston, MA
country_code                                                           US
country                                                     United States
latitude                                                        42.281106
longitude                                                      -71.121021
property_type                                                       House
room_type                                                    Private room
accommodates                                                            4
bathrooms                                                             1.0
bedrooms                                                              1.0
beds                                                                  2.0
bed_type                                                         Real Bed
amenities               {TV,Internet,"Wireless Internet","Air Conditio...
price                                                                75.0
guests_included                                                         2
extra_people                                                       $25.00
minimum_nights                                                          1
maximum_nights                                                       1125
number_of_reviews                                                       1
review_scores_rating                                                100.0
cancellation_policy                                              moderate
Name: 3, dtype: object

In [86]:
for index, row in airbnb[airbnb['neighbourhood'].isna()].iterrows():
    airbnb.at[index,'neighbourhood'] = lokacija(str(row['latitude']), str(row['longitude']))

In [87]:
airbnb.iloc[3]

id                                                                1436513
name                        Spacious Sunny Bedroom Suite in Historic Home
summary                 Come experience the comforts of home away from...
description             Come experience the comforts of home away from...
host_name                                                          Meghna
host_is_superhost                                                       f
street                                          Boston, MA, United States
neighbourhood                                                  Roslindale
state                                                                  MA
zipcode                                                               NaN
smart_location                                                 Boston, MA
country_code                                                           US
country                                                     United States
latitude                                                        42.281106
longitude                                                      -71.121021
property_type                                                       House
room_type                                                    Private room
accommodates                                                            4
bathrooms                                                             1.0
bedrooms                                                              1.0
beds                                                                  2.0
bed_type                                                         Real Bed
amenities               {TV,Internet,"Wireless Internet","Air Conditio...
price                                                                75.0
guests_included                                                         2
extra_people                                                       $25.00
minimum_nights                                                          1
maximum_nights                                                       1125
number_of_reviews                                                       1
review_scores_rating                                                100.0
cancellation_policy                                              moderate
Name: 3, dtype: object

In [88]:
airbnb.isna().sum()

id                       0
name                     0
summary                  0
description              0
host_name                0
host_is_superhost        0
street                   0
neighbourhood           55
state                    0
zipcode                 38
smart_location           0
country_code             0
country                  0
latitude                 0
longitude                0
property_type            0
room_type                0
accommodates             0
bathrooms                0
bedrooms                 0
beds                     0
bed_type                 0
amenities                0
price                    0
guests_included          0
extra_people             0
minimum_nights           0
maximum_nights           0
number_of_reviews        0
review_scores_rating     0
cancellation_policy      0
dtype: int64