# Pandas nizovi

In [1]:
import pandas as pd

Kreiranje pandas niza iz Python liste-niza

In [2]:
predmeti=['Matematika','Srpski','Muzicko']

In [3]:
pd.Series(predmeti)

0    Matematika
1        Srpski
2       Muzicko
dtype: object

In [4]:
fibonaci=[1,1,2,3,5,8,13]
pd.Series(fibonaci)

0     1
1     1
2     2
3     3
4     5
5     8
6    13
dtype: int64

In [5]:
prijavljen_ispit=[True,False,False,True]
pd.Series(prijavljen_ispit)

0     True
1    False
2    False
3     True
dtype: bool

In [6]:
glavni_gradovi={'Srbija':'Beograd', 'Madjarska':'Budimpesta', 'Austrija':'Bec'}
pd.Series(glavni_gradovi)

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

# Parametri i Argumenti

In [7]:
gradovi=['Beograd', 'Budimpesta', 'Bec']
drzave=['Srbija', 'Madjarska', 'Austrija']

In [8]:
pd.Series(gradovi)

0       Beograd
1    Budimpesta
2           Bec
dtype: object

In [9]:
pd.Series(gradovi, drzave)

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

In [10]:
pandas_niz= pd.Series(gradovi, drzave)
pandas_niz

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

In [11]:
pd.Series(data= gradovi, index= drzave)

Srbija          Beograd
Madjarska    Budimpesta
Austrija            Bec
dtype: object

# Atributi pandas nizova

In [12]:
imena= pd.Series(['Dunja', 'Elena', 'Vukan', 'Marina'])

In [13]:
imena.size

4

In [14]:
imena.shape

(4,)

In [15]:
imena.is_unique

True

In [16]:
imena.index

RangeIndex(start=0, stop=4, step=1)

In [17]:
pandas_niz.index

Index(['Srbija', 'Madjarska', 'Austrija'], dtype='object')

In [18]:
imena.values

array(['Dunja', 'Elena', 'Vukan', 'Marina'], dtype=object)

In [19]:
pandas_niz.values

array(['Beograd', 'Budimpesta', 'Bec'], dtype=object)

# Metode pandas nizova

In [20]:
brojevi = pd.Series([2,7,100,0.2])
brojevi

0      2.0
1      7.0
2    100.0
3      0.2
dtype: float64

In [21]:
brojevi.sum()

np.float64(109.2)

In [22]:
brojevi.mean()

np.float64(27.3)

In [23]:
brojevi.std()

np.float64(48.551965288063606)

In [24]:
brojevi.product()

np.float64(280.0)

In [25]:
brojevi.min()

np.float64(0.2)

In [26]:
imena.min()

'Dunja'

In [27]:
brojevi.max()

np.float64(100.0)

In [28]:
imena.max()

'Vukan'

# Prikaz pandas niza

In [29]:
n=20
fibonaci=[1,1]
while len(fibonaci) <=n:
    novi_clan=fibonaci[len(fibonaci)-1] + fibonaci[len(fibonaci)-2]
    fibonaci.append(novi_clan)
fibonaci_pandas=pd.Series(fibonaci)
fibonaci_pandas

0         1
1         1
2         2
3         3
4         5
5         8
6        13
7        21
8        34
9        55
10       89
11      144
12      233
13      377
14      610
15      987
16     1597
17     2584
18     4181
19     6765
20    10946
dtype: int64

In [30]:
fibonaci_pandas.head()

0    1
1    1
2    2
3    3
4    5
dtype: int64

In [31]:
fibonaci_pandas.head(10)

0     1
1     1
2     2
3     3
4     5
5     8
6    13
7    21
8    34
9    55
dtype: int64

In [32]:
fibonaci_pandas.head(-5)

0       1
1       1
2       2
3       3
4       5
5       8
6      13
7      21
8      34
9      55
10     89
11    144
12    233
13    377
14    610
15    987
dtype: int64

In [33]:
fibonaci_pandas.tail()

16     1597
17     2584
18     4181
19     6765
20    10946
dtype: int64

# Ucitavanje pandas Data Frame

In [34]:
imena_i_broj_df = pd.read_csv('babyNames.csv')
imena_i_broj_df.head()

   index  YearOfBirth       Name Sex  Number
0      0         1880       Mary   F    7065
1      1         1880       Anna   F    2604
2      2         1880       Emma   F    2003
3      3         1880  Elizabeth   F    1939
4      4         1880     Minnie   F    1746

# Ucitavanje pandas niza-kolone

In [35]:
imena_i_broj = pd.read_csv('babyNames.csv', usecols = ['Name', 'Number'], index_col = 'Name').squeeze('columns')
imena_i_broj

Name
Mary         7065
Anna         2604
Emma         2003
Elizabeth    1939
Minnie       1746
             ...
Marko         100
Mauro         100
Niklaus       100
Osiris        100
Steele        100
Name: Number, Length: 224261, dtype: int64

# IN

In [36]:
'Mary' in imena_i_broj

True

In [37]:
'Snezana' in imena_i_broj

False

In [38]:
7065 in imena_i_broj.values

True

# LOC ILOC

In [39]:
imena_i_broj.iloc[5]

np.int64(1578)

In [40]:
imena_i_broj.iloc[15]

np.int64(1040)

In [41]:
imena_i_broj.loc['Mary']

Name
Mary    7065
Mary    6919
Mary    8148
Mary    8012
Mary    9217
        ...
Mary    2704
Mary    2566
Mary    2639
Mary    2624
Mary    2602
Name: Number, Length: 194, dtype: int64

In [42]:
fibonaci_pandas.loc[5]

np.int64(8)

In [43]:
fibonaci_pandas.iloc[5]

np.int64(8)

In [44]:
fibonaci_pandas.iloc[6]

np.int64(13)

In [45]:
fibonaci_pandas.loc[13]

np.int64(377)

In [46]:
imena_i_broj.loc[['Mary', 'Nick']]

Name
Mary    7065
Mary    6919
Mary    8148
Mary    8012
Mary    9217
        ...
Nick     154
Nick     157
Nick     172
Nick     156
Nick     152
Name: Number, Length: 300, dtype: int64

In [47]:
imena_i_broj.iloc[[154,7065]]

Name
Robert    2415
Anna      5115
Name: Number, dtype: int64

# Ugradjene PYTHON funkcije

In [48]:
len(imena_i_broj)

224261

In [49]:
imena_i_broj.shape

(224261,)

In [50]:
imena_i_broj.size

224261

In [51]:
type(imena_i_broj)

pandas.core.series.Series

In [52]:
min(imena_i_broj)

100

In [53]:
min(fibonaci_pandas.index)

0

In [54]:
imena_i_broj.sort_values()

Name
Braulio        100
Delma          100
Steele         100
Osiris         100
Alexavier      100
             ...
Robert       91646
Michael      92726
James        94763
Linda        96211
Linda        99680
Name: Number, Length: 224261, dtype: int64

In [55]:
imena_i_broj.sort_index()

Name
Aaden    450
Aaden    237
Aaden    956
Aaden    274
Aaden    223
        ...
Zyon     139
Zyon     143
Zyon     165
Zyon     150
Zyon     160
Name: Number, Length: 224261, dtype: int64

In [56]:
imena_i_broj.sort_values(ascending = False)

Name
Linda      99680
Linda      96211
James      94763
Michael    92726
Robert     91646
           ...
Fabiola      100
Victor       100
Elijah       100
Brogan       100
Bowen        100
Name: Number, Length: 224261, dtype: int64

In [57]:
imena_i_broj.sort_values(ascending = True)

Name
Braulio        100
Delma          100
Steele         100
Osiris         100
Alexavier      100
             ...
Robert       91646
Michael      92726
James        94763
Linda        96211
Linda        99680
Name: Number, Length: 224261, dtype: int64

In [58]:
imena_i_broj.sort_index(ascending = False).head(10)

Name
Zyon    113
Zyon    139
Zyon    147
Zyon    143
Zyon    158
Zyon    160
Zyon    129
Zyon    165
Zyon    152
Zyon    104
Name: Number, dtype: int64

In [59]:
imena_i_broj.sort_values(ascending = False).head(10)

Name
Linda      99680
Linda      96211
James      94763
Michael    92726
Robert     91646
Linda      91010
Michael    90623
Michael    90517
James      88588
Michael    88493
Name: Number, dtype: int64

# Promena rednosti Pandas listi

In [60]:
zoo = pd.Series(['Slon', 'Zirafa', 'Zebra', 'Komarac'])

In [61]:
zoo.iloc[3] = 'Vuk'

In [62]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

In [63]:
imena_i_broj.loc['Zyon'] = 1

In [64]:
imena_i_broj.sort_index(ascending = False).head(10)

Name
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Zyon    1
Name: Number, dtype: int64

# Kopiranje Pandas nizova

In [65]:
copy_of_zoo = zoo.copy()

In [66]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

In [67]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

# Dodavanje novih clanova Pandas nizova

In [68]:
copy_of_zoo[4] = 'Paun'

In [69]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4      Paun
dtype: object

In [70]:
copy_of_zoo[zoo.index.max()+1] = 'Koala'

In [71]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4     Koala
dtype: object

In [72]:
copy_of_zoo[zoo.index.max()+1] = 'Tigar'

In [73]:
copy_of_zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4     Tigar
dtype: object

In [74]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
dtype: object

In [75]:
zoo[zoo.index.max()+1] = 'Koala'

In [76]:
zoo.head()

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4     Koala
dtype: object

In [77]:
zoo[zoo.index.max()+2] = 'Tigar'

In [78]:
zoo.head(10)

0      Slon
1    Zirafa
2     Zebra
3       Vuk
4     Koala
6     Tigar
dtype: object