In [3]:
import pandas as pd

In [1]:
data = {'Proizvodi': ['Jabuka', 'Banana', 'Pomorandza', 'Kivi'],
        'Kolicina': [2,5,3,7]
       }

In [4]:
df = pd.DataFrame(data)

In [5]:
df.head()

    Proizvodi  Kolicina
0      Jabuka         2
1      Banana         5
2  Pomorandza         3
3        Kivi         7

## SUM

In [6]:
df.sum()

Proizvodi    JabukaBananaPomorandzaKivi
Kolicina                             17
dtype: object

In [7]:
df['Kolicina'].sum()

np.int64(17)

## COUNT

In [8]:
df.count()

Proizvodi    4
Kolicina     4
dtype: int64

## MAX

In [9]:
df.max()

Proizvodi    Pomorandza
Kolicina              7
dtype: object

## MIN

In [10]:
df.min()

Proizvodi    Banana
Kolicina          2
dtype: object

## MEAN

In [12]:
df['Kolicina'].mean()

np.float64(4.25)

## MEDIAN

In [13]:
df['Kolicina'].median()

np.float64(4.0)

## 2 3 5 = 3 / 2 5 3 700 = 4 / 2 3 6 10 700 = 8

## STANDARD DEVIATION

In [14]:
df['Kolicina'].std()

np.float64(2.217355782608345)

## DESCRIBE

In [15]:
df.describe()

       Kolicina
count  4.000000
mean   4.250000
std    2.217356
min    2.000000
25%    2.750000
50%    4.000000
75%    5.500000
max    7.000000

## CORRELATION

In [17]:
data = { 'A': [1,2,3,4,5],
        'B': [5,4,3,2,1],
        'C': [2,3,4,5,6]
       }

In [19]:
df = pd.DataFrame(data)

In [20]:
df.head()

   A  B  C
0  1  5  2
1  2  4  3
2  3  3  4
3  4  2  5
4  5  1  6

In [21]:
df.corr()

     A    B    C
A  1.0 -1.0  1.0
B -1.0  1.0 -1.0
C  1.0 -1.0  1.0

In [22]:
df['A'].corr(df['B'])

np.float64(-0.9999999999999999)

In [23]:
df['A'].corr(df['C'])

np.float64(0.9999999999999999)

In [24]:
df['B'].corr(df['C'])

np.float64(-0.9999999999999999)

## GROUP BY

In [27]:
data = {
    'Prodavnica': ['A','A','A','A','A','A','B','B','B','B','B','B'],
    'Proizvod': ['Jabuka', 'Jabuka', 'Banana', 'Banana', 'Pomorandža', 'Pomorandža','Jabuka', 'Jabuka', 'Banana', 'Banana', 'Pomorandža', 'Pomorandža'],
    'Mesec': ['Januar', 'Februar', 'Januar', 'Februar', 'Januar', 'Februar','Januar', 'Februar', 'Januar', 'Februar', 'Januar', 'Februar'],
    'Prodaja': [100, 120, 80, 90, 70, 80, 110, 70, 130, 80,100, 90],
    'Trošak': [50, 60, 40, 45, 30, 35, 55, 50, 45, 40, 30, 40]
}
df = pd.DataFrame(data)
df

   Prodavnica    Proizvod    Mesec  Prodaja  Trošak
0           A      Jabuka   Januar      100      50
1           A      Jabuka  Februar      120      60
2           A      Banana   Januar       80      40
3           A      Banana  Februar       90      45
4           A  Pomorandža   Januar       70      30
5           A  Pomorandža  Februar       80      35
6           B      Jabuka   Januar      110      55
7           B      Jabuka  Februar       70      50
8           B      Banana   Januar      130      45
9           B      Banana  Februar       80      40
10          B  Pomorandža   Januar      100      30
11          B  Pomorandža  Februar       90      40

In [28]:
groups = df.groupby('Prodavnica')

In [29]:
groups

In [30]:
df.groupby('Prodavnica').get_group('A')

  Prodavnica    Proizvod    Mesec  Prodaja  Trošak
0          A      Jabuka   Januar      100      50
1          A      Jabuka  Februar      120      60
2          A      Banana   Januar       80      40
3          A      Banana  Februar       90      45
4          A  Pomorandža   Januar       70      30
5          A  Pomorandža  Februar       80      35

In [31]:
df.groupby('Prodavnica')['Prodaja'].mean()

Prodavnica
A    90.000000
B    96.666667
Name: Prodaja, dtype: float64

In [32]:
df.groupby('Prodavnica')['Prodaja'].max()

Prodavnica
A    120
B    130
Name: Prodaja, dtype: int64

In [33]:
df.groupby('Prodavnica')['Prodaja'].min()

Prodavnica
A    70
B    70
Name: Prodaja, dtype: int64

In [34]:
df.groupby('Prodavnica')['Prodaja'].sum()

Prodavnica
A    540
B    580
Name: Prodaja, dtype: int64

In [35]:
df.groupby('Prodavnica')['Prodaja'].count()

Prodavnica
A    6
B    6
Name: Prodaja, dtype: int64

In [36]:
df.groupby(['Prodaja','Mesec'])['Trošak'].mean()

Prodaja  Mesec
70       Februar    50.0
         Januar     30.0
80       Februar    37.5
         Januar     40.0
90       Februar    42.5
100      Januar     40.0
110      Januar     55.0
120      Februar    60.0
130      Januar     45.0
Name: Trošak, dtype: float64

In [37]:
df.groupby(['Prodaja','Mesec'])['Trošak'].mean().reset_index()

   Prodaja    Mesec  Trošak
0       70  Februar    50.0
1       70   Januar    30.0
2       80  Februar    37.5
3       80   Januar    40.0
4       90  Februar    42.5
5      100   Januar    40.0
6      110   Januar    55.0
7      120  Februar    60.0
8      130   Januar    45.0

In [38]:
df.groupby(['Prodaja','Mesec'])['Trošak'].mean().round(2).reset_index()

   Prodaja    Mesec  Trošak
0       70  Februar    50.0
1       70   Januar    30.0
2       80  Februar    37.5
3       80   Januar    40.0
4       90  Februar    42.5
5      100   Januar    40.0
6      110   Januar    55.0
7      120  Februar    60.0
8      130   Januar    45.0

# AIRBNB DATA

In [39]:
airbnb = pd.read_csv('airbnb_clean_final.csv')

In [40]:
airbnb.head()

,Unnamed: 0,id,name,summary,description,host_name,host_is_superhost,street,neighbourhood,state,...,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,cancellation_policy
0,0,12147973,Sunny Bungalow in the City of Boston,"Cozy, sunny, family home. Master bedroom high...","Cozy, sunny, family home. Master bedroom high...",Virginia,f,"Birch Street, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",250.0,1,$0.00,2,1125,0,92.0,moderate
1,1,3075044,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Charming and quiet room in a second floor 1910...,Andrea,f,"Pinehurst Street, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",65.0,0,$0.00,2,15,36,94.0,moderate
2,2,6976,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",Phil,t,"Ardale St., Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",65.0,1,$20.00,3,45,41,98.0,moderate
3,3,1436513,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Come experience the comforts of home away from...,Meghna,f,"Boston, MA, United States",02131,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",75.0,2,$25.00,1,1125,1,100.0,moderate
4,4,7651065,Come Home to Boston,"My comfy, clean and relaxing home is one block...","My comfy, clean and relaxing home is one block...",Linda,t,"Durnell Avenue, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",79.0,1,$0.00,2,31,29,99.0,flexible

In [42]:
airbnb.describe()

,Unnamed: 0,id,latitude,longitude,accommodates,bathrooms,bedrooms,beds,price,guests_included,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating
count,3585.000000,3.585000e+03,3585.000000,3585.000000,3585.000000,3585.000000,3585.000000,3585.000000,3585.000000,3585.000000,3585.000000,3.585000e+03,3585.000000,3585.000000
mean,1792.000000,8.440875e+06,42.340032,-71.084818,3.041283,1.220781,1.258020,1.609205,173.925802,1.429847,3.171269,2.872584e+04,19.044630,91.935565
std,1035.044685,4.500787e+06,0.024403,0.031565,1.778929,0.500698,0.753032,1.010754,148.331321,1.056787,8.874133,1.670136e+06,35.571658,8.381230
min,0.000000,3.353000e+03,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,10.000000,0.000000,1.000000,1.000000e+00,0.000000,20.000000
25%,896.000000,4.679319e+06,42.329995,-71.105083,2.000000,1.000000,1.000000,1.000000,85.000000,1.000000,1.000000,3.650000e+02,1.000000,91.000000
50%,1792.000000,8.577620e+06,42.345201,-71.078429,2.000000,1.000000,1.000000,1.000000,150.000000,1.000000,2.000000,1.125000e+03,5.000000,92.000000
75%,2688.000000,1.278953e+07,42.354685,-71.062155,4.000000,1.000000,2.000000,2.000000,220.000000,1.000000,3.000000,1.125000e+03,21.000000,97.000000
max,3584.000000,1.493346e+07,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,4000.000000,14.000000,300.000000,1.000000e+08,404.000000,100.000000

In [43]:
airbnb['neighbourhood'].value_counts()

neighbourhood
Allston-Brighton    364
Jamaica Plain       314
South End           298
Back Bay            291
Fenway/Kenmore      249
                   ...
02467                 1
02205                 1
02139                 1
02318                 1
02447                 1
Name: count, Length: 75, dtype: int64

In [45]:
airbnb['neighbourhood'].value_counts(normalize = True)*100

neighbourhood
Allston-Brighton    10.153417
Jamaica Plain        8.758717
South End            8.312413
Back Bay             8.117155
Fenway/Kenmore       6.945607
                      ...
02467                0.027894
02205                0.027894
02139                0.027894
02318                0.027894
02447                0.027894
Name: proportion, Length: 75, dtype: float64

In [46]:
airbnb['beds'].value_counts()

beds
1.0     2168
2.0      959
3.0      275
4.0      106
5.0       40
6.0       16
7.0        8
8.0        6
0.0        4
9.0        2
16.0       1
Name: count, dtype: int64

In [48]:
airbnb['beds'].corr(airbnb['price'])

np.float64(0.3695321852080825)

In [49]:
airbnb['review_scores_rating'].corr(airbnb['price'])

np.float64(0.07112826590079666)

In [53]:
airbnb = airbnb.drop(index = 0)

In [54]:
airbnb.head()

,Unnamed: 0,id,name,summary,description,host_name,host_is_superhost,street,neighbourhood,state,...,bed_type,amenities,price,guests_included,extra_people,minimum_nights,maximum_nights,number_of_reviews,review_scores_rating,cancellation_policy
1,1,3075044,Charming room in pet friendly apt,Charming and quiet room in a second floor 1910...,Charming and quiet room in a second floor 1910...,Andrea,f,"Pinehurst Street, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",65.0,0,$0.00,2,15,36,94.0,moderate
2,2,6976,Mexican Folk Art Haven in Boston,"Come stay with a friendly, middle-aged guy in ...","Come stay with a friendly, middle-aged guy in ...",Phil,t,"Ardale St., Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{TV,""Cable TV"",""Wireless Internet"",""Air Condit...",65.0,1,$20.00,3,45,41,98.0,moderate
3,3,1436513,Spacious Sunny Bedroom Suite in Historic Home,Come experience the comforts of home away from...,Come experience the comforts of home away from...,Meghna,f,"Boston, MA, United States",02131,MA,...,Real Bed,"{TV,Internet,""Wireless Internet"",""Air Conditio...",75.0,2,$25.00,1,1125,1,100.0,moderate
4,4,7651065,Come Home to Boston,"My comfy, clean and relaxing home is one block...","My comfy, clean and relaxing home is one block...",Linda,t,"Durnell Avenue, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{Internet,""Wireless Internet"",""Air Conditionin...",79.0,1,$0.00,2,31,29,99.0,flexible
5,5,12386020,Private Bedroom + Great Coffee,Super comfy bedroom plus your own bathroom in ...,Super comfy bedroom plus your own bathroom in ...,Deborah,t,"Walter Street, Boston, MA 02131, United States",Roslindale,MA,...,Real Bed,"{""Cable TV"",""Wireless Internet"",""Air Condition...",75.0,1,$0.00,2,1125,8,100.0,flexible

In [ ]:
#airbnb.corr()

In [58]:
numerical_data = airbnb.select_dtypes(include=['number'])
correlation_matrix = numerical_data.corr()
print(correlation_matrix)

                      Unnamed: 0        id  latitude  longitude  accommodates  \
Unnamed: 0              1.000000  0.139082  0.102916  -0.029335     -0.047519
id                      0.139082  1.000000  0.090461  -0.010524     -0.050705
latitude                0.102916  0.090461  1.000000   0.318673      0.054216
longitude              -0.029335 -0.010524  0.318673   1.000000      0.083919
accommodates           -0.047519 -0.050705  0.054216   0.083919      1.000000
bathrooms               0.058098 -0.012698 -0.019794   0.010127      0.347133
bedrooms               -0.022420 -0.062773 -0.044127   0.016658      0.721859
beds                   -0.030827 -0.044463 -0.011808   0.034678      0.814697
price                  -0.046089 -0.059323  0.196766   0.165900      0.437713
guests_included        -0.070183 -0.075790 -0.019872   0.016090      0.495420
minimum_nights         -0.025755 -0.049293  0.020064  -0.019355     -0.038218
maximum_nights         -0.017683 -0.019679  0.017593   0.015471     -0.009752
number_of_reviews      -0.074084 -0.437924 -0.039572   0.075633     -0.001730
review_scores_rating   -0.063777  0.028708 -0.012792   0.015390      0.032909

                      bathrooms  bedrooms      beds     price  \
Unnamed: 0             0.058098 -0.022420 -0.030827 -0.046089
id                    -0.012698 -0.062773 -0.044463 -0.059323
latitude              -0.019794 -0.044127 -0.011808  0.196766
longitude              0.010127  0.016658  0.034678  0.165900
accommodates           0.347133  0.721859  0.814697  0.437713
bathrooms              1.000000  0.428970  0.347679  0.248494
bedrooms               0.428970  1.000000  0.707223  0.385415
beds                   0.347679  0.707223  1.000000  0.369446
price                  0.248494  0.385415  0.369446  1.000000
guests_included        0.111480  0.395456  0.477329  0.211877
minimum_nights         0.021588 -0.005160 -0.020487  0.020074
maximum_nights        -0.007355 -0.005710 -0.010051 -0.005495
number_of_reviews     -0.027112 -0.042435 -0.008252 -0.096358
review_scores_rating   0.003224  0.048661  0.029804  0.071130

                      guests_included  minimum_nights  maximum_nights  \
Unnamed: 0                  -0.070183       -0.025755       -0.017683
id                          -0.075790       -0.049293       -0.019679
latitude                    -0.019872        0.020064        0.017593
longitude                    0.016090       -0.019355        0.015471
accommodates                 0.495420       -0.038218       -0.009752
bathrooms                    0.111480        0.021588       -0.007355
bedrooms                     0.395456       -0.005160       -0.005710
beds                         0.477329       -0.020487       -0.010051
price                        0.211877        0.020074       -0.005495
guests_included              1.000000       -0.029557       -0.006807
minimum_nights              -0.029557        1.000000       -0.004102
maximum_nights              -0.006807       -0.004102        1.000000
number_of_reviews            0.064549       -0.062488        0.071333
review_scores_rating         0.043263       -0.025444        0.000117

                      number_of_reviews  review_scores_rating
Unnamed: 0                    -0.074084             -0.063777
id                            -0.437924              0.028708
latitude                      -0.039572             -0.012792
longitude                      0.075633              0.015390
accommodates                  -0.001730              0.032909
bathrooms                     -0.027112              0.003224
bedrooms                      -0.042435              0.048661
beds                          -0.008252              0.029804
price                         -0.096358              0.071130
guests_included                0.064549              0.043263
minimum_nights                -0.062488             -0.025444
maximum_nights                 0.071333              0.000117
number_of_reviews              1.000000              0.020607
review_scores_rating           0.020607              1.000000